amazon_job_alertbot/state_machine.json
{
  "Comment": "State Machine for orchestrating Amazon Jobs alert bot",
  "StartAt": "ReplaceParams",
  "States": {
    "ReplaceParams": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:lambda:invoke",
      "Parameters": {
        "FunctionName": "var_replacer",
        "FunctionARN": "arn:aws:lambda:us-east-1:019703030783:function:var_replacer"
      },
      "Retry": [
        {
          "ErrorEquals": [
          "Lambda.ClientExecutionTimeoutException",
          "Lambda.ServiceException",
          "Lambda.AWSLambdaException",
          "Lambda.SdkClientException"
        ],
          "IntervalSeconds": 5,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "TimeoutSeconds": 180,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": {
            "errorInfo": "$",
            "sendState.$": "ReplaceParams"
          },
          "Next": "HandleError"
        }
      ],
      "Next": "InvokeJobScraper"
    },
    "InvokeJobScraper": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:lambda:invoke",
      "Parameters": {
    "FunctionName": "amzn_job_scraper",
        "FunctionARN": "arn:aws:lambda:us-east-1:019703030783:function:amzn_job_scraper",
        "Payload.$": "$"
      },
      "Retry": [
        {
          "ErrorEquals": [
          "Lambda.ClientExecutionTimeoutException",
          "Lambda.ServiceException",
          "Lambda.AWSLambdaException",
          "Lambda.SdkClientException"
        ],
          "IntervalSeconds": 10,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "TimeoutSeconds": 600,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": {
            "errorInfo": "$",
            "sendState.$": "InvokeJobScraper"
        },
        "Next": "HandleError"
      }
      ],
      "ResultPath": "$.ScraperResult",
      "Next": "EvalScrapeResponse"
    },
    "EvalScrapeResponse": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ScraperResult.jobs",
          "IsPresent": true,
          "Next": "InvokeJobStore"
        }
      ],
      "Default": "EndState"
    },
    "InvokeJobStore": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:lambda:invoke",
      "Parameters": {
        "FunctionName": "amzn_job_store",
        "FunctionARN": "arn:aws:lambda:us-east-1:019703030783:function:amzn_job_store",
        "StorePayload.$": {
          "dbparams": "$.dbparams",
          "jobs.$": "$.ScraperResult.jobs",
          "remaining_hits.$": "$.ScraperResult.remaining_hits"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "TimeoutSeconds": 240,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": {
            "errorInfo": "$",
            "sendState.$": "InvokeJobStore"
          },
          "Next": "HandleError"
        }
      ],
      "ResultPath": "$.StoreResult",
      "Next": "CheckForJobs"
    },
    "CheckForJobs": {
      "Type": "Choice",
      "Choices": [
        {
        "Variable": "$.StoreResult.new_jobs",
        "IsPresent": true,
        "Next": "SplitBranch"
        }
      ],
      "Default": "EndState"
    },
    "SplitBranch": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "SendJobBatch",
            "States": {
            "SendJobBatch": {
                "Type": "Task",
                "Resource": "arn:aws:states:::aws-sdk:sqs:SendMessage",
                "Parameters": {
                  "QueueUrl": "https://sqs.us-east-1.amazonaws.com/019703030783/JobQueue",
                  "MessageBody": "$.StoreResult.new_jobs"
                },
                "Retry": [
                  {
                    "IntervalSeconds": 3,
                    "MaxAttempts": 6,
                    "BackoffRate": 2
                  }
                ],
                "TimeoutSeconds": 30,
                "End": true
            }
          }
        },
        {
          "StartAt": "EvalStoreResponse",
          "States": {
          "EvalStoreResponse": {
          "Type": "Choice",
          "Choices": [
            {
              "And": [
                {
                  "Variable": "$.StoreResult.remaining_hits",
                  "NumericGreaterThan": 0
                },
                {
                  "Variable": "$.StoreResult.more_jobs",
                  "BooleanEquals": true
                },
                {
                  "Variable": "$.StoreResult.newest_scrape",
                  "IsPresent": true
                }
              ],
              "Next": "PassBackToInvoke"
            },
            {
              "Variable": "$.StoreResult.more_jobs",
              "BooleanEquals": false,
              "Next": "PassToSender"
            }
          ],
          "Default": "EndState"
          }
          }
        }
      ]
    },
    "PassBackToInvoke": {
      "Type": "Pass",
      "Parameters": {
        "searchparams.$": "$.searchparams",
        "dbparams.$": "$.dbparams",
        "sendparams.$": "$.sendparams",
        "remaining_hits.$": "$.StoreResult.remaining_hits",
        "newest_scrape.$": "$.StoreResult.newest_scrape"
        },
        "Next": "InvokeJobScraper"
      },
    "PassToSender": {
      "Type": "Pass",
      "Parameters": {
        "sendparams": "$.sendparams"
      },
      "Next": "InvokeSender"
      },
    "InvokeSender": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:lambda:invoke",
      "Parameters": {
        "FunctionName": "sender",
        "FunctionARN": "arn:aws:lambda:us-east-1:019703030783:function:job_sender",
        "InvocationType": "RequestResponse",
        "sendparams": "$.sendparams"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 30,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "TimeoutSeconds": 900,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": {
            "errorInfo": "$",
            "sendState.$": "InvokeSender"
        },
        "Next": "HandleError"
      }
      ],
      "End": true
    },
    "HandleError": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:lambda:invoke",
      "Parameters": {
        "FunctionName": "error_handler",
        "FunctionARN": "arn:aws:lambda:us-east-1:019703030783:function:error_handler",
        "Payload.$": "$",
        "errorInfo.$": "$.errorInfo"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "FailedExecution"
        }
      ],
      "Next": "DecideOnError"
    },
    "DecideOnError": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
            "Variable": "$.status_code",
            "NumericEquals": 200
            },
            {
            "Variable": "error_resend",
            "IsPresent": false
            }
          ],
          "Next": "$.sendState",
          "ResultPath": {
              "Payload": "$",
              "error_resend": true
          }
        }
      ]
    },
      "Default": "FailedExecution"
    },
    "EndState": {
      "Type": "Succeed"
    },
    "FailedExecution": {
      "Type": "Fail"
    }
  }
